<!--# include virtual="../../../components/_head.html" -->
    <div class="wrap">
        <!--# include virtual="../../../components/_header.html" -->
        <div class="content">
            <section>
                <div class="hero" aria-labelledby="hero">
                    <h2 id="hero" class="ir-text-hide">sale info</h2>
                    <div class="hero__item" style="background-image: url(../../../resource/images/img_slider01.jpg);">
                        <div class="hero__title">
                            Valentine's day<br>
                            sale up to<br>
                            80% 0ff
                        </div>
                        <div class="hero__button-wrap">
                            <button type="button" class="button">Shop Collection</button>
                        </div>
                    </div>
                    <div class="hero__item" style="background-image: url(../../../resource/images/img_slider02.jpg);">
                        <div class="hero__title">
                            Valentine's day<br>
                            sale up to<br>
                            80% 0ff
                        </div>
                        <div class="hero__button-wrap">
                            <button type="button" class="button">Shop Collection</button>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="gallery" aria-labelledby="gallery">
                    <h2 id="gallery" class="ir-text-hide">gallery</h2>
                    <div class="gallery__item">
                        <img src="../../../resource/images/img_banner01.jpg">
                    </div>
                    <div class="gallery__item">
                        <img src="../../../resource/images/img_banner02.jpg">
                    </div>
                    <div class="gallery__item">
                        <img src="../../../resource/images/img_banner03.jpg">
                    </div>
                </div>
            </section>
            <section>
                <div class="grid">
                    <h2 class="title">Latest items</h2>
                    <ul class="tab">
                        <li>
                            <button class="active" id="tab-1">ALL</button>
                        </li>
                        <li>
                            <button id="tab-2">NEW</button>
                        </li>
                        <li>
                            <button id="tab-3">DECOR</button>
                        </li>
                        <li>
                            <button id="tab-4">LIGHT</button>
                        </li>
                    </ul>
                    <div class="grid__inner tab__panel active" aria-labelledby="tab-1">
                        <div class="grid__item">
                            <div class="product-card">
                                <a href="" class="product-card__inner">
                                    <span class="product-card__front">
                                        <img src="../../images/img_product01.jpg">
                                    </span>
                                    <span class="product-card__back">
                                        <img src="../../images/img_product02.jpg">
                                        <span class="product-card__button-wrap">
                                            <button type="button" class="product-card__button"></button>
                                            <button type="button" class="product-card__button product-card__button--heart"></button>
                                        </span>
                                    </span>
                                    <span class="product-card__badge">-7%</span>
                                    <span class="product-card__name">Metallic Silver Serving Skillets</span>
                                    <span class="rating">
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                    </span>
                                    <span class="product-card__value">$89.00<em>$58.00</em></span>
                                </a>
                            </div>
                        </div>
                        <div class="grid__item">
                            <div class="product-card">
                                <a href="" class="product-card__inner">
                                    <span class="product-card__front">
                                        <img src="../../images/img_product01.jpg">
                                    </span>
                                    <span class="product-card__back">
                                        <img src="../../images/img_product02.jpg">
                                        <span class="product-card__button-wrap">
                                            <button type="button" class="product-card__button"></button>
                                            <button type="button" class="product-card__button product-card__button--heart"></button>
                                        </span>
                                    </span>
                                    <span class="product-card__badge">-7%</span>
                                    <span class="product-card__name">Metallic Silver Serving Skillets</span>
                                    <span class="rating">
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                    </span>
                                    <span class="product-card__value">$89.00<em>$58.00</em></span>
                                </a>
                            </div>
                        </div>
                        <div class="grid__item">
                            <div class="product-card">
                                <a href="" class="product-card__inner">
                                    <span class="product-card__front">
                                        <img src="../../images/img_product01.jpg">
                                    </span>
                                    <span class="product-card__back">
                                        <img src="../../images/img_product02.jpg">
                                        <span class="product-card__button-wrap">
                                            <button type="button" class="product-card__button"></button>
                                            <button type="button" class="product-card__button product-card__button--heart"></button>
                                        </span>
                                    </span>
                                    <span class="product-card__badge">-7%</span>
                                    <span class="product-card__name">Metallic Silver Serving Skillets</span>
                                    <span class="rating">
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                    </span>
                                    <span class="product-card__value">$89.00<em>$58.00</em></span>
                                </a>
                            </div>
                        </div>
                        <div class="grid__item">
                            <div class="product-card">
                                <a href="" class="product-card__inner">
                                    <span class="product-card__front">
                                        <img src="../../images/img_product01.jpg">
                                    </span>
                                    <span class="product-card__back">
                                        <img src="../../images/img_product02.jpg">
                                        <span class="product-card__button-wrap">
                                            <button type="button" class="product-card__button"></button>
                                            <button type="button" class="product-card__button product-card__button--heart"></button>
                                        </span>
                                    </span>
                                    <span class="product-card__badge">-7%</span>
                                    <span class="product-card__name">Metallic Silver Serving Skillets</span>
                                    <span class="rating">
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                    </span>
                                    <span class="product-card__value">$89.00<em>$58.00</em></span>
                                </a>
                            </div>
                        </div>
                        <div class="grid__item">
                            <div class="product-card">
                                <a href="" class="product-card__inner">
                                    <span class="product-card__front">
                                        <img src="../../images/img_product01.jpg">
                                    </span>
                                    <span class="product-card__back">
                                        <img src="../../images/img_product02.jpg">
                                        <span class="product-card__button-wrap">
                                            <button type="button" class="product-card__button"></button>
                                            <button type="button" class="product-card__button product-card__button--heart"></button>
                                        </span>
                                    </span>
                                    <span class="product-card__badge">-7%</span>
                                    <span class="product-card__name">Metallic Silver Serving Skillets</span>
                                    <span class="rating">
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                    </span>
                                    <span class="product-card__value">$89.00<em>$58.00</em></span>
                                </a>
                            </div>
                        </div>
                        <div class="grid__item">
                            <div class="product-card">
                                <a href="" class="product-card__inner">
                                    <span class="product-card__front">
                                        <img src="../../images/img_product01.jpg">
                                    </span>
                                    <span class="product-card__back">
                                        <img src="../../images/img_product02.jpg">
                                        <span class="product-card__button-wrap">
                                            <button type="button" class="product-card__button"></button>
                                            <button type="button" class="product-card__button product-card__button--heart"></button>
                                        </span>
                                    </span>
                                    <span class="product-card__badge">-7%</span>
                                    <span class="product-card__name">Metallic Silver Serving Skillets</span>
                                    <span class="rating">
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                    </span>
                                    <span class="product-card__value">$89.00<em>$58.00</em></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="grid__inner tab__panel" aria-labelledby="tab-2">
                        <div class="grid__item">
                            <div class="product-card">
                                <a href="" class="product-card__inner">
                                    <span class="product-card__front">
                                        <img src="../../images/img_product03.jpg">
                                    </span>
                                    <span class="product-card__back">
                                        <img src="../../images/img_product04.jpg">
                                        <span class="product-card__button-wrap">
                                            <button type="button" class="product-card__button"></button>
                                            <button type="button" class="product-card__button product-card__button--heart"></button>
                                        </span>
                                    </span>
                                    <span class="product-card__badge">-7%</span>
                                    <span class="product-card__name">Metallic Silver Serving Skillets</span>
                                    <span class="rating">
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                    </span>
                                    <span class="product-card__value">$89.00<em>$58.00</em></span>
                                </a>
                            </div>
                        </div>
                        <div class="grid__item">
                            <div class="product-card">
                                <a href="" class="product-card__inner">
                                    <span class="product-card__front">
                                        <img src="../../images/img_product03.jpg">
                                    </span>
                                    <span class="product-card__back">
                                        <img src="../../images/img_product04.jpg">
                                        <span class="product-card__button-wrap">
                                            <button type="button" class="product-card__button"></button>
                                            <button type="button" class="product-card__button product-card__button--heart"></button>
                                        </span>
                                    </span>
                                    <span class="product-card__badge">-7%</span>
                                    <span class="product-card__name">Metallic Silver Serving Skillets</span>
                                    <span class="rating">
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                    </span>
                                    <span class="product-card__value">$89.00<em>$58.00</em></span>
                                </a>
                            </div>
                        </div>
                        <div class="grid__item">
                            <div class="product-card">
                                <a href="" class="product-card__inner">
                                    <span class="product-card__front">
                                        <img src="../../images/img_product03.jpg">
                                    </span>
                                    <span class="product-card__back">
                                        <img src="../../images/img_product04.jpg">
                                        <span class="product-card__button-wrap">
                                            <button type="button" class="product-card__button"></button>
                                            <button type="button" class="product-card__button product-card__button--heart"></button>
                                        </span>
                                    </span>
                                    <span class="product-card__badge">-7%</span>
                                    <span class="product-card__name">Metallic Silver Serving Skillets</span>
                                    <span class="rating">
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                    </span>
                                    <span class="product-card__value">$89.00<em>$58.00</em></span>
                                </a>
                            </div>
                        </div>
                        <div class="grid__item">
                            <div class="product-card">
                                <a href="" class="product-card__inner">
                                    <span class="product-card__front">
                                        <img src="../../images/img_product03.jpg">
                                    </span>
                                    <span class="product-card__back">
                                        <img src="../../images/img_product04.jpg">
                                        <span class="product-card__button-wrap">
                                            <button type="button" class="product-card__button"></button>
                                            <button type="button" class="product-card__button product-card__button--heart"></button>
                                        </span>
                                    </span>
                                    <span class="product-card__badge">-7%</span>
                                    <span class="product-card__name">Metallic Silver Serving Skillets</span>
                                    <span class="rating">
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                    </span>
                                    <span class="product-card__value">$89.00<em>$58.00</em></span>
                                </a>
                            </div>
                        </div>
                        <div class="grid__item">
                            <div class="product-card">
                                <a href="" class="product-card__inner">
                                    <span class="product-card__front">
                                        <img src="../../images/img_product03.jpg">
                                    </span>
                                    <span class="product-card__back">
                                        <img src="../../images/img_product04.jpg">
                                        <span class="product-card__button-wrap">
                                            <button type="button" class="product-card__button"></button>
                                            <button type="button" class="product-card__button product-card__button--heart"></button>
                                        </span>
                                    </span>
                                    <span class="product-card__badge">-7%</span>
                                    <span class="product-card__name">Metallic Silver Serving Skillets</span>
                                    <span class="rating">
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                    </span>
                                    <span class="product-card__value">$89.00<em>$58.00</em></span>
                                </a>
                            </div>
                        </div>
                        <div class="grid__item">
                            <div class="product-card">
                                <a href="" class="product-card__inner">
                                    <span class="product-card__front">
                                        <img src="../../images/img_product03.jpg">
                                    </span>
                                    <span class="product-card__back">
                                        <img src="../../images/img_product04.jpg">
                                        <span class="product-card__button-wrap">
                                            <button type="button" class="product-card__button"></button>
                                            <button type="button" class="product-card__button product-card__button--heart"></button>
                                        </span>
                                    </span>
                                    <span class="product-card__badge">-7%</span>
                                    <span class="product-card__name">Metallic Silver Serving Skillets</span>
                                    <span class="rating">
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                    </span>
                                    <span class="product-card__value">$89.00<em>$58.00</em></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="grid__inner tab__panel" aria-labelledby="tab-3">
                        <div class="grid__item">
                            <div class="product-card">
                                <a href="" class="product-card__inner">
                                    <span class="product-card__front">
                                        <img src="../../images/img_product05.png">
                                    </span>
                                    <span class="product-card__back">
                                        <img src="../../images/img_product06.png">
                                        <span class="product-card__button-wrap">
                                            <button type="button" class="product-card__button"></button>
                                            <button type="button" class="product-card__button product-card__button--heart"></button>
                                        </span>
                                    </span>
                                    <span class="product-card__badge">-7%</span>
                                    <span class="product-card__name">Metallic Silver Serving Skillets</span>
                                    <span class="rating">
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                    </span>
                                    <span class="product-card__value">$89.00<em>$58.00</em></span>
                                </a>
                            </div>
                        </div>
                        <div class="grid__item">
                            <div class="product-card">
                                <a href="" class="product-card__inner">
                                    <span class="product-card__front">
                                        <img src="../../images/img_product05.png">
                                    </span>
                                    <span class="product-card__back">
                                        <img src="../../images/img_product06.png">
                                        <span class="product-card__button-wrap">
                                            <button type="button" class="product-card__button"></button>
                                            <button type="button" class="product-card__button product-card__button--heart"></button>
                                        </span>
                                    </span>
                                    <span class="product-card__badge">-7%</span>
                                    <span class="product-card__name">Metallic Silver Serving Skillets</span>
                                    <span class="rating">
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                    </span>
                                    <span class="product-card__value">$89.00<em>$58.00</em></span>
                                </a>
                            </div>
                        </div>
                        <div class="grid__item">
                            <div class="product-card">
                                <a href="" class="product-card__inner">
                                    <span class="product-card__front">
                                        <img src="../../images/img_product05.png">
                                    </span>
                                    <span class="product-card__back">
                                        <img src="../../images/img_product06.png">
                                        <span class="product-card__button-wrap">
                                            <button type="button" class="product-card__button"></button>
                                            <button type="button" class="product-card__button product-card__button--heart"></button>
                                        </span>
                                    </span>
                                    <span class="product-card__badge">-7%</span>
                                    <span class="product-card__name">Metallic Silver Serving Skillets</span>
                                    <span class="rating">
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                    </span>
                                    <span class="product-card__value">$89.00<em>$58.00</em></span>
                                </a>
                            </div>
                        </div>
                        <div class="grid__item">
                            <div class="product-card">
                                <a href="" class="product-card__inner">
                                    <span class="product-card__front">
                                        <img src="../../images/img_product05.png">
                                    </span>
                                    <span class="product-card__back">
                                        <img src="../../images/img_product06.png">
                                        <span class="product-card__button-wrap">
                                            <button type="button" class="product-card__button"></button>
                                            <button type="button" class="product-card__button product-card__button--heart"></button>
                                        </span>
                                    </span>
                                    <span class="product-card__badge">-7%</span>
                                    <span class="product-card__name">Metallic Silver Serving Skillets</span>
                                    <span class="rating">
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                    </span>
                                    <span class="product-card__value">$89.00<em>$58.00</em></span>
                                </a>
                            </div>
                        </div>
                        <div class="grid__item">
                            <div class="product-card">
                                <a href="" class="product-card__inner">
                                    <span class="product-card__front">
                                        <img src="../../images/img_product05.png">
                                    </span>
                                    <span class="product-card__back">
                                        <img src="../../images/img_product06.png">
                                        <span class="product-card__button-wrap">
                                            <button type="button" class="product-card__button"></button>
                                            <button type="button" class="product-card__button product-card__button--heart"></button>
                                        </span>
                                    </span>
                                    <span class="product-card__badge">-7%</span>
                                    <span class="product-card__name">Metallic Silver Serving Skillets</span>
                                    <span class="rating">
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                    </span>
                                    <span class="product-card__value">$89.00<em>$58.00</em></span>
                                </a>
                            </div>
                        </div>
                        <div class="grid__item">
                            <div class="product-card">
                                <a href="" class="product-card__inner">
                                    <span class="product-card__front">
                                        <img src="../../images/img_product05.png">
                                    </span>
                                    <span class="product-card__back">
                                        <img src="../../images/img_product06.png">
                                        <span class="product-card__button-wrap">
                                            <button type="button" class="product-card__button"></button>
                                            <button type="button" class="product-card__button product-card__button--heart"></button>
                                        </span>
                                    </span>
                                    <span class="product-card__badge">-7%</span>
                                    <span class="product-card__name">Metallic Silver Serving Skillets</span>
                                    <span class="rating">
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                    </span>
                                    <span class="product-card__value">$89.00<em>$58.00</em></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="grid__inner tab__panel" aria-labelledby="tab-4">
                        <div class="grid__item">
                            <div class="product-card">
                                <a href="" class="product-card__inner">
                                    <span class="product-card__front">
                                        <img src="../../images/img_product01.jpg">
                                    </span>
                                    <span class="product-card__back">
                                        <img src="../../images/img_product02.jpg">
                                        <span class="product-card__button-wrap">
                                            <button type="button" class="product-card__button"></button>
                                            <button type="button" class="product-card__button product-card__button--heart"></button>
                                        </span>
                                    </span>
                                    <span class="product-card__badge">-7%</span>
                                    <span class="product-card__name">Metallic Silver Serving Skillets</span>
                                    <span class="rating">
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                    </span>
                                    <span class="product-card__value">$89.00<em>$58.00</em></span>
                                </a>
                            </div>
                        </div>
                        <div class="grid__item">
                            <div class="product-card">
                                <a href="" class="product-card__inner">
                                    <span class="product-card__front">
                                        <img src="../../images/img_product01.jpg">
                                    </span>
                                    <span class="product-card__back">
                                        <img src="../../images/img_product02.jpg">
                                        <span class="product-card__button-wrap">
                                            <button type="button" class="product-card__button"></button>
                                            <button type="button" class="product-card__button product-card__button--heart"></button>
                                        </span>
                                    </span>
                                    <span class="product-card__badge">-7%</span>
                                    <span class="product-card__name">Metallic Silver Serving Skillets</span>
                                    <span class="rating">
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                    </span>
                                    <span class="product-card__value">$89.00<em>$58.00</em></span>
                                </a>
                            </div>
                        </div>
                        <div class="grid__item">
                            <div class="product-card">
                                <a href="" class="product-card__inner">
                                    <span class="product-card__front">
                                        <img src="../../images/img_product01.jpg">
                                    </span>
                                    <span class="product-card__back">
                                        <img src="../../images/img_product02.jpg">
                                        <span class="product-card__button-wrap">
                                            <button type="button" class="product-card__button"></button>
                                            <button type="button" class="product-card__button product-card__button--heart"></button>
                                        </span>
                                    </span>
                                    <span class="product-card__badge">-7%</span>
                                    <span class="product-card__name">Metallic Silver Serving Skillets</span>
                                    <span class="rating">
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                    </span>
                                    <span class="product-card__value">$89.00<em>$58.00</em></span>
                                </a>
                            </div>
                        </div>
                        <div class="grid__item">
                            <div class="product-card">
                                <a href="" class="product-card__inner">
                                    <span class="product-card__front">
                                        <img src="../../images/img_product01.jpg">
                                    </span>
                                    <span class="product-card__back">
                                        <img src="../../images/img_product02.jpg">
                                        <span class="product-card__button-wrap">
                                            <button type="button" class="product-card__button"></button>
                                            <button type="button" class="product-card__button product-card__button--heart"></button>
                                        </span>
                                    </span>
                                    <span class="product-card__badge">-7%</span>
                                    <span class="product-card__name">Metallic Silver Serving Skillets</span>
                                    <span class="rating">
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                    </span>
                                    <span class="product-card__value">$89.00<em>$58.00</em></span>
                                </a>
                            </div>
                        </div>
                        <div class="grid__item">
                            <div class="product-card">
                                <a href="" class="product-card__inner">
                                    <span class="product-card__front">
                                        <img src="../../images/img_product01.jpg">
                                    </span>
                                    <span class="product-card__back">
                                        <img src="../../images/img_product02.jpg">
                                        <span class="product-card__button-wrap">
                                            <button type="button" class="product-card__button"></button>
                                            <button type="button" class="product-card__button product-card__button--heart"></button>
                                        </span>
                                    </span>
                                    <span class="product-card__badge">-7%</span>
                                    <span class="product-card__name">Metallic Silver Serving Skillets</span>
                                    <span class="rating">
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                    </span>
                                    <span class="product-card__value">$89.00<em>$58.00</em></span>
                                </a>
                            </div>
                        </div>
                        <div class="grid__item">
                            <div class="product-card">
                                <a href="" class="product-card__inner">
                                    <span class="product-card__front">
                                        <img src="../../images/img_product01.jpg">
                                    </span>
                                    <span class="product-card__back">
                                        <img src="../../images/img_product02.jpg">
                                        <span class="product-card__button-wrap">
                                            <button type="button" class="product-card__button"></button>
                                            <button type="button" class="product-card__button product-card__button--heart"></button>
                                        </span>
                                    </span>
                                    <span class="product-card__badge">-7%</span>
                                    <span class="product-card__name">Metallic Silver Serving Skillets</span>
                                    <span class="rating">
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                        <span class="rating__item">
                                            <i role="img" aria-label="score item"></i>
                                        </span>
                                    </span>
                                    <span class="product-card__value">$89.00<em>$58.00</em></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="info-boxes" aria-labelledby="info-boxes">
                    <h2 id="info-boxes" class="ir-text-hide">big sale info</h2>
                    <div class="info-boxes__item">
                        <div class="info-boxes__left">
                            <img src="https://demo.hasthemes.com/brook-preview/brook/img/valentine/promo-banner1.jpg">
                        </div>
                        <div class="info-boxes__right">
                            Big Sale<br>
                            With<br>
                            Big Gift
                            <button type="button" class="button button--pink">Learn More</button>
                        </div>
                    </div>
                    <div class="info-boxes__item">
                        <div class="info-boxes__left">
                            <img src="https://demo.hasthemes.com/brook-preview/brook/img/valentine/promo-banner2.jpg">
                        </div>
                        <div class="info-boxes__right">
                            Big Sale<br>
                            With<br>
                            Big Gift
                            <button type="button" class="button button--red">Learn More</button>
                        </div>
                    </div>
                    <div class="info-boxes__item">
                        <div class="info-boxes__left">
                            <img src="https://demo.hasthemes.com/brook-preview/brook/img/christmas/info-banner3.jpg">
                        </div>
                        <div class="info-boxes__right">
                            Big Sale<br>
                            With<br>
                            Big Gift
                            <button type="button" class="button button--pink">Learn More</button>
                        </div>
                    </div>
                    <div class="info-boxes__item">
                        <div class="info-boxes__left">
                            <img src="https://demo.hasthemes.com/brook-preview/brook/img/christmas/info-banner4.jpg">
                        </div>
                        <div class="info-boxes__right">
                            Big Sale<br>
                            With<br>
                            Big Gift
                            <button type="button" class="button button--red">Learn More</button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <!--# include virtual="../../../components/_js.html" -->

</body>

</html>