<header class="header">
    <h1 class="header__logo">
        <a href="">
            <img src="../../../resource/images/logo_brook-black.png" alt="logo">
        </a>
    </h1>
    <nav class="nav">
        <ul class="nav__inner">
            <li class="nav__item">
                <button class="nav__button">Home</button>
                <div class="nav-panel">
                    <div class="nav-panel__inner">
                        <div class="nav-panel__box">
                            <div class="nav-panel__title">MULTI-AREA HOMEPAGES</div>
                            <ul>
                                <li>
                                    <a href="">Business</a>
                                </li>
                                <li>
                                    <a href="">Creative Agency</a>
                                </li>
                                <li>
                                    <a href="">Digital Agency</a>
                                </li>
                                <li>
                                    <a href="">Design Studio</a>
                                </li>
                                <li>
                                    <a href="">Architecture</a>
                                </li>
                                <li>
                                    <a href="">Start ups</a>
                                </li>
                                <li>
                                    <a href="">Minimal Agency</a>
                                </li>
                                <li>
                                    <a href="">Freelancer</a>
                                </li>
                                <li>
                                    <a href="">Authentic Studio</a>
                                </li>
                                <li>
                                    <a href="">Revolutionary</a>
                                </li>
                                <li>
                                    <a href="">COVID-19</a>
                                </li>
                            </ul>
                        </div>
                        <div class="nav-panel__box">
                            <div class="nav-panel__title">PORTFOLIO HOMEPAGES</div>
                            <ul>
                                <li>
                                    <a href="">Creative Portfolio</a>
                                </li>
                                <li>
                                    <a href="">Minimal Portfolio</a>
                                </li>
                                <li>
                                    <a href="">Vertical Slide Portfolio</a>
                                </li>
                                <li>
                                    <a href="">Vertical Slide Gradient Portfolio</a>
                                </li>
                                <li>
                                    <a href="">Portfolio Fullscreen Slider</a>
                                </li>
                                <li>
                                    <a href="">Portfolio Masonry</a>
                                </li>
                                <li>
                                    <a href="">Portfolio Fullscreen Type Hover</a>
                                </li>
                                <li>
                                    <a href="">Portfolio Fullscreen Type Hover 02</a>
                                </li>
                                <li>
                                    <a href="">Digital Broadsheets</a>
                                </li>
                                <li>
                                    <a href="">Christmas</a>
                                </li>
                                <li>
                                    <a href="">Valentine</a>
                                </li>
                            </ul>
                        </div>
                        <div class="nav-panel__box">
                            <div class="nav-panel__title">CREATIVE HOMEPAGES</div>
                            <ul>
                                <li>
                                    <a href="">One page</a>
                                </li>
                                <li>
                                    <a href="">Landing</a>
                                </li>
                                <li>
                                    <a href="">Presentation</a>
                                </li>
                                <li>
                                    <a href="">Product Landing</a>
                                </li>
                                <li>
                                    <a href="">Service</a>
                                </li>
                                <li>
                                    <a href="">Shop</a>
                                </li>
                                <li>
                                    <a href="">Indie Musician</a>
                                </li>
                                <li>
                                    <a href="">News Bulletin</a>
                                </li>
                                <li>
                                    <a href="">Expert</a>
                                </li>
                                <li>
                                    <a href="">Restaurant</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav__item">
                <button class="nav__button">Pages</button>
                <div class="nav-panel">
                    <div class="nav-panel__inner">
                        <div class="nav-panel__box">
                            <div class="nav-panel__title">MULTI-AREA HOMEPAGES</div>
                            <ul>
                                <li>
                                    <a href="">Business</a>
                                </li>
                                <li>
                                    <a href="">Creative Agency</a>
                                </li>
                                <li>
                                    <a href="">Digital Agency</a>
                                </li>
                                <li>
                                    <a href="">Design Studio</a>
                                </li>
                                <li>
                                    <a href="">Architecture</a>
                                </li>
                                <li>
                                    <a href="">Start ups</a>
                                </li>
                                <li>
                                    <a href="">Minimal Agency</a>
                                </li>
                                <li>
                                    <a href="">Freelancer</a>
                                </li>
                                <li>
                                    <a href="">Authentic Studio</a>
                                </li>
                                <li>
                                    <a href="">Revolutionary</a>
                                </li>
                                <li>
                                    <a href="">COVID-19</a>
                                </li>
                            </ul>
                        </div>
                        <div class="nav-panel__box">
                            <div class="nav-panel__title">CREATIVE HOMEPAGES</div>
                            <ul>
                                <li>
                                    <a href="">One page</a>
                                </li>
                                <li>
                                    <a href="">Landing</a>
                                </li>
                                <li>
                                    <a href="">Presentation</a>
                                </li>
                                <li>
                                    <a href="">Product Landing</a>
                                </li>
                                <li>
                                    <a href="">Service</a>
                                </li>
                                <li>
                                    <a href="">Shop</a>
                                </li>
                                <li>
                                    <a href="">Indie Musician</a>
                                </li>
                                <li>
                                    <a href="">News Bulletin</a>
                                </li>
                                <li>
                                    <a href="">Expert</a>
                                </li>
                                <li>
                                    <a href="">Restaurant</a>
                                </li>
                            </ul>
                        </div>
                        <div class="nav-panel__box">
                            <div class="nav-panel__title">BLOG & GALLERY</div>
                            <ul>
                                <li>
                                    <a href="">Business</a>
                                </li>
                                <li>
                                    <a href="">Creative Agency</a>
                                </li>
                                <li>
                                    <a href="">Digital Agency</a>
                                </li>
                                <li>
                                    <a href="">Design Studio</a>
                                </li>
                                <li>
                                    <a href="">Architecture</a>
                                </li>
                                <li>
                                    <a href="">Start ups</a>
                                </li>
                                <li>
                                    <a href="">Minimal Agency</a>
                                </li>
                                <li>
                                    <a href="">Freelancer</a>
                                </li>
                                <li>
                                    <a href="">Authentic Studio</a>
                                </li>
                                <li>
                                    <a href="">Revolutionary</a>
                                </li>
                                <li>
                                    <a href="">COVID-19</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav__item">
                <button class="nav__button">Shop</button>
                <div class="nav-panel">
                    <div class="nav-panel__inner">
                        <div class="nav-panel__box">
                            <div class="nav-panel__title">MULTI-AREA HOMEPAGES</div>
                            <ul>
                                <li>
                                    <a href="">Business</a>
                                </li>
                                <li>
                                    <a href="">Creative Agency</a>
                                </li>
                                <li>
                                    <a href="">Digital Agency</a>
                                </li>
                                <li>
                                    <a href="">Design Studio</a>
                                </li>
                                <li>
                                    <a href="">Architecture</a>
                                </li>
                                <li>
                                    <a href="">Start ups</a>
                                </li>
                                <li>
                                    <a href="">Minimal Agency</a>
                                </li>
                                <li>
                                    <a href="">Freelancer</a>
                                </li>
                                <li>
                                    <a href="">Authentic Studio</a>
                                </li>
                                <li>
                                    <a href="">Revolutionary</a>
                                </li>
                                <li>
                                    <a href="">COVID-19</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav__item">
                <button class="nav__button">Portfolio</button>
            </li>
            <li class="nav__item">
                <button class="nav__button">Elements</button>
            </li>
            <li class="nav__item">
                <button class="nav__button">Blog</button>
            </li>
        </ul>
    </nav>
    <div class="header__right">
        <button type="button" class="image-button" aria-label="cart">
            <span class="image-button__data">3</span>
        </button>
        <button type="button" class="image-button image-button--search" aria-label="search">
        </button>
        <button class="mobile-nav-trigger" aria-label="menu">
            <i aria-hidden="true"></i>
        </button>
    </div>
</header>
<div class="mobile-nav" aria-hidden="true" role="none presentation">
    <ul class="mobile-nav__inner">
        <li class="mobile-nav__item">
            <button class="mobile-nav__button">Home</button>
            <div class="mobile-nav-panel">
                <div class="mobile-nav-panel__inner">
                    <div class="mobile-nav-panel__box">
                        <div class="mobile-nav-panel__title">MULTI-AREA HOMEPAGES</div>
                        <ul>
                            <li>
                                <a href="">Business</a>
                            </li>
                            <li>
                                <a href="">Creative Agency</a>
                            </li>
                            <li>
                                <a href="">Digital Agency</a>
                            </li>
                            <li>
                                <a href="">Design Studio</a>
                            </li>
                            <li>
                                <a href="">Architecture</a>
                            </li>
                            <li>
                                <a href="">Start ups</a>
                            </li>
                            <li>
                                <a href="">Minimal Agency</a>
                            </li>
                            <li>
                                <a href="">Freelancer</a>
                            </li>
                            <li>
                                <a href="">Authentic Studio</a>
                            </li>
                            <li>
                                <a href="">Revolutionary</a>
                            </li>
                            <li>
                                <a href="">COVID-19</a>
                            </li>
                        </ul>
                    </div>
                    <div class="mobile-nav-panel__box">
                        <div class="mobile-nav-panel__title">PORTFOLIO HOMEPAGES</div>
                        <ul>
                            <li>
                                <a href="">Creative Portfolio</a>
                            </li>
                            <li>
                                <a href="">Minimal Portfolio</a>
                            </li>
                            <li>
                                <a href="">Vertical Slide Portfolio</a>
                            </li>
                            <li>
                                <a href="">Vertical Slide Gradient Portfolio</a>
                            </li>
                            <li>
                                <a href="">Portfolio Fullscreen Slider</a>
                            </li>
                            <li>
                                <a href="">Portfolio Masonry</a>
                            </li>
                            <li>
                                <a href="">Portfolio Fullscreen Type Hover</a>
                            </li>
                            <li>
                                <a href="">Portfolio Fullscreen Type Hover 02</a>
                            </li>
                            <li>
                                <a href="">Digital Broadsheets</a>
                            </li>
                            <li>
                                <a href="">Christmas</a>
                            </li>
                            <li>
                                <a href="">Valentine</a>
                            </li>
                        </ul>
                    </div>
                    <div class="mobile-nav-panel__box">
                        <div class="mobile-nav-panel__title">CREATIVE HOMEPAGES</div>
                        <ul>
                            <li>
                                <a href="">One page</a>
                            </li>
                            <li>
                                <a href="">Landing</a>
                            </li>
                            <li>
                                <a href="">Presentation</a>
                            </li>
                            <li>
                                <a href="">Product Landing</a>
                            </li>
                            <li>
                                <a href="">Service</a>
                            </li>
                            <li>
                                <a href="">Shop</a>
                            </li>
                            <li>
                                <a href="">Indie Musician</a>
                            </li>
                            <li>
                                <a href="">News Bulletin</a>
                            </li>
                            <li>
                                <a href="">Expert</a>
                            </li>
                            <li>
                                <a href="">Restaurant</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
        <li class="mobile-nav__item">
            <button class="mobile-nav__button">Pages</button>
            <div class="mobile-nav-panel">
                <div class="mobile-nav-panel__inner">
                    <div class="mobile-nav-panel__box">
                        <div class="mobile-nav-panel__title">MULTI-AREA HOMEPAGES</div>
                        <ul>
                            <li>
                                <a href="">Business</a>
                            </li>
                            <li>
                                <a href="">Creative Agency</a>
                            </li>
                            <li>
                                <a href="">Digital Agency</a>
                            </li>
                            <li>
                                <a href="">Design Studio</a>
                            </li>
                            <li>
                                <a href="">Architecture</a>
                            </li>
                            <li>
                                <a href="">Start ups</a>
                            </li>
                            <li>
                                <a href="">Minimal Agency</a>
                            </li>
                            <li>
                                <a href="">Freelancer</a>
                            </li>
                            <li>
                                <a href="">Authentic Studio</a>
                            </li>
                            <li>
                                <a href="">Revolutionary</a>
                            </li>
                            <li>
                                <a href="">COVID-19</a>
                            </li>
                        </ul>
                    </div>
                    <div class="mobile-nav-panel__box">
                        <div class="mobile-nav-panel__title">CREATIVE HOMEPAGES</div>
                        <ul>
                            <li>
                                <a href="">One page</a>
                            </li>
                            <li>
                                <a href="">Landing</a>
                            </li>
                            <li>
                                <a href="">Presentation</a>
                            </li>
                            <li>
                                <a href="">Product Landing</a>
                            </li>
                            <li>
                                <a href="">Service</a>
                            </li>
                            <li>
                                <a href="">Shop</a>
                            </li>
                            <li>
                                <a href="">Indie Musician</a>
                            </li>
                            <li>
                                <a href="">News Bulletin</a>
                            </li>
                            <li>
                                <a href="">Expert</a>
                            </li>
                            <li>
                                <a href="">Restaurant</a>
                            </li>
                        </ul>
                    </div>
                    <div class="mobile-nav-panel__box">
                        <div class="mobile-nav-panel__title">BLOG & GALLERY</div>
                        <ul>
                            <li>
                                <a href="">Business</a>
                            </li>
                            <li>
                                <a href="">Creative Agency</a>
                            </li>
                            <li>
                                <a href="">Digital Agency</a>
                            </li>
                            <li>
                                <a href="">Design Studio</a>
                            </li>
                            <li>
                                <a href="">Architecture</a>
                            </li>
                            <li>
                                <a href="">Start ups</a>
                            </li>
                            <li>
                                <a href="">Minimal Agency</a>
                            </li>
                            <li>
                                <a href="">Freelancer</a>
                            </li>
                            <li>
                                <a href="">Authentic Studio</a>
                            </li>
                            <li>
                                <a href="">Revolutionary</a>
                            </li>
                            <li>
                                <a href="">COVID-19</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
        <li class="mobile-nav__item">
            <button class="mobile-nav__button">Shop</button>
            <div class="mobile-nav-panel">
                <div class="mobile-nav-panel__inner">
                    <div class="mobile-nav-panel__box">
                        <div class="mobile-nav-panel__title">MULTI-AREA HOMEPAGES</div>
                        <ul>
                            <li>
                                <a href="">Business</a>
                            </li>
                            <li>
                                <a href="">Creative Agency</a>
                            </li>
                            <li>
                                <a href="">Digital Agency</a>
                            </li>
                            <li>
                                <a href="">Design Studio</a>
                            </li>
                            <li>
                                <a href="">Architecture</a>
                            </li>
                            <li>
                                <a href="">Start ups</a>
                            </li>
                            <li>
                                <a href="">Minimal Agency</a>
                            </li>
                            <li>
                                <a href="">Freelancer</a>
                            </li>
                            <li>
                                <a href="">Authentic Studio</a>
                            </li>
                            <li>
                                <a href="">Revolutionary</a>
                            </li>
                            <li>
                                <a href="">COVID-19</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
        <li class="mobile-nav__item">
            <button class="mobile-nav__button">Portfolio</button>
        </li>
        <li class="mobile-nav__item">
            <button class="mobile-nav__button">Elements</button>
        </li>
        <li class="mobile-nav__item">
            <button class="mobile-nav__button">Blog</button>
        </li>
    </ul>
</div>