.button{
    border-radius: 6px;
    background-color: #fff;
    padding: 20px 35px;
    &--pink{
        background-color: #f0263f;
        color: #fff;
    }
    &--red{
        background-color: #d0021b;
        color: #fff;
    }
}

.image-button{
    position: relative;
    width: 30px;
    height: 30px;
    background-image: url(../../resource/images/icon_cart.png);
    background-size: 18px 18px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    vertical-align: middle;
    &__data{
        position: absolute;
        top: -3px;
        right: -7px;
        font-size: 10px;
    }
    &--search{
        background-size: 16px 16px;
        background-image: url(../../resource/images/icon_search.png);
    }
    &+&{
        margin-left: 10px;
    }
}

@media screen and (max-width:1080px) {
    .button{
        padding: 10px 15px;
    }
}