.grid{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    &__inner{
        flex-wrap: wrap;
        margin: 30px -8px 0 -8px;
    }
    &__item{
        display: inline-block;
        width: calc(100% / 3 - 4px);
        padding: 0 8px;
        margin-top: 30px;
    }
}

@media screen and (max-width:1080px) {
    .grid{
        &__inner{
            margin: 30px 0 0 0;
        }
        &__item{
            margin-left: auto;
        }
    }
}

//mobile
@media screen and (max-width:750px) {
    .grid{
        &__item{
            width: calc(50% - 4px);
        }
    }
}