/* header */
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height:100px;
    display: flex;
    align-items: center;
    padding: 0 50px;
    background: #fff;
    z-index: 100;
    &__logo{
        a{
            max-width: 170px;
            min-width: 105px;
            display: inline-block;
            padding: 15px 0;
        }
    }
    &__right{
        margin-left: 10px;
    }
    // &.active{
    //     background-color: rgba(255,255,255,0.8);
    // }
}
/* nav */
.nav{
    margin: auto;
    &__inner{
        display: flex;
    }
    &__item{
        &:not(:first-of-type){
            margin-left: 13px;
        }
    }
    &__button{
        position: relative;
        display: block;
        padding: 40px 20px;
        font-size: 16px;
        font-weight: bold;
        background-image: url(../../resource/images/icon_arrow-down.png);
        background-size: 9px 8px;
        background-repeat: no-repeat;
        background-position: 100% 50%;
        &:after{
            content: "";
            position: absolute;
            top: 64px;
            left: 20px;
            width: 0;
            height:1px;
            background-color: #000;
        }
        &.active{
            &:after{
                width : calc(100% - 40px);
                transition: .3s;
            }
        }
    }
}

.nav-panel{
    display: none;
    position: fixed;
    top: 170px;
    left: 50%;
    transform: translateX(-50%);
    height: 0;
    overflow: hidden;
    opacity: 0;
    padding: 40px 20px;
    background-color: #222;
    color: #fff;
    z-index: 10;
    &__inner{
        display: inline-flex;
        margin: 0 auto;
    }
    &__box{
        min-width: 235px;
        &:not(:first-of-type){
            margin-left: 60px;
        }
    }
    &__title{
        font-size: 14px;
        font-weight: bold;
        border-bottom: 1px solid #444;
        padding-bottom: 12px;
    }
    ul {
        li {
            a{
                position: relative;
                display: inline-block;
                padding:10px 0;
                font-size: 14px;
                font-weight: bold;
                &:after{
                    content: "";
                    position: absolute;
                    bottom: 5px;
                    left: 0;
                    width: 0;
                    height:1px;
                    background-color: #fff;
                }
                &.active{
                    &:after{
                        width : 100%;
                        transition: .3s;
                    }
                }
            }
        }
    }
    &.active{
        display: inline-block;
        height: auto;
        opacity: 1;
        overflow: auto;
        top: 100px;
        transition: all .5s;
    }
}

.mobile-nav{
    display: none;
}


@media screen and (max-width:1080px) {
    .header{
        height:75px;
        padding: 0 20px;
        &__logo{
            max-width: 105px;
        }
        &__right{
            margin-left: auto;
        }
    }
    .nav{
        display: none;
    }
    .mobile-nav{
        display: block;
        position: fixed;
        top:75px;
        left:-100%;
        background-color: #000;
        z-index: 101;
        width: 100%;
        height: 100%;
        overflow: auto;
        &__inner{
            padding: 20px 40px 30px;
        }
        &__item{
            border-top: 1px solid rgba(255,255,255,.15);
            border-bottom: 1px solid rgba(255,255,255,.15);
            & ~ &{
                margin-top: 10px;
            }
        }
        &__button{
            position: relative;
            display: block;
            width: 100%;
            color: #fff;
            padding: 16px 0;
            text-align: left;
            &::after{
                content: '';
                position: absolute;
                top:50%;
                transform: translateY(-50%);
                right: 0;
                width:30px;
                height: 30px;
                background: #444 url(../../resource/images/icon_arrow-white.png) no-repeat 50% 50% /10px 9px;
                border-radius: 4px;

            }
        }
        &-panel{
            display: none;
            color: #fff;
            &.active{
                display: block;
            }
            &__title{
                padding: 3px 0;
                font-size: 14px;
            }
            &__box{
                & ~ &{
                    margin-top: 10px;
                }
            }
            ul{
                li{
                    a{
                        display: block;
                        font-size: 12px;
                        padding: 2px 0;
                    }
                }
            }
        }
        &-trigger{
            width: 20px;
            padding: 8px 0;
            position: relative;
            margin-left: 10px;
            i{
                display: block;
                height: 2px;
                background-color: #000;
            }
            &::before,&::after{
                content: '';
                position: absolute;
                top:0;
                left: 50%;
                transform: translateX(-50%);
                height: 2px;
                width: 100%;
                background-color: #000;
            }
            &::after{
                top:auto;
                bottom:0;
            }
            &:hover{
                &::before,&::after{
                    width: 14px;
                    transition: .2s;
                }
            }
        }
        &.active{
            left:0;
        }
    }
}


/*
@keyframes in {
    from {
        width: 0
    };
    to{
        width : calc(100% - 40px);
    };
}

@keyframes out {
    from{
        width: calc(100% - 40px);
    };
    to{
        width: 0
    };
} */