.hero {
    &__item{
        position: relative;
        display: flex !important;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 750px;
    }
    &__title{
        text-align: center;
        font-size: 56px;
        line-height: 71px;
        color: #fff;
        font-weight: bold;
    }
    &__button-wrap{
        margin-top: 40px;
    }
    .slick{
        &-arrow{
            width: 68px;
            height: 68px;
            background-color: #fff !important;
            border-radius: 100%;
            &:hover{
                background-color: #f0263f !important;
            }
            &::before{
                content: "";
                position: absolute;
                top: 50%;
                left: calc(50% + 3px);
                width: 50%;
                height: 50%;
                transform: translate(-50%,-50%);
                background-image: url(../../resource/images/icon_arrow-double.png);
                background-size: 100% 100%;
                background-position: 0 0;
                background-repeat: no-repeat;
                z-index: 10000;
            }
        }
        &-prev{
            transform: rotate(-180deg);
            left: 20px;
        }
        &-next{
            right: 20px;
        }
    }
    // &:hover {
    //     .slick-arrow{
    //         opacity: 1;
    //         transition: .3s;
    //         &::before{
    //             opacity: 1;
    //             transition: .3s;
    //         }
    //     }
    // }
}

@media screen and (max-width:1080px) {
    .hero{
        &__title{
            font-size: 32px;
            line-height: 48px;
        }
        &__item{
            max-height: 400px;
        }
        .slick{
            &-arrow{
                width: 40px;
                height: 40px;
                &::before{
                    left: 50%;
                }
            }
        }
    }
}