body.not-scroll{
    height: 100%;
    overflow: hidden;
}

.content{
    padding: 100px 0;
}

section {
    &+&{
        margin-top: 150px;
    }
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    &__item{
        overflow: hidden;
        &:not(:first-of-type){
            margin-left: auto;
        }
        &:hover {
            img{
                transform: scale(1.1);
                transition: .7s;
            }
        }
    }
}

.product-card{
    $root : &;
    position: relative;
    &__inner{
        display: block;
    }
    &__front,&__back{
        display: block;
    }
    &__front{
        opacity: 1;
    }
    &__back{
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        -webkit-box-shadow: 10px 11px 36px -15px rgba(0,0,0,0.83);
        -moz-box-shadow: 10px 11px 36px -15px rgba(0,0,0,0.83);
        box-shadow: 10px 11px 36px -15px rgba(0,0,0,0.83);
        transition: all .3s;
        & ~ span{
            display: block;
            text-align: center;
        }
    }
    &__badge{
        position: absolute;
        right: 30px;
        top: 30px;
        display: block;
        background-color: #d5382c;
        color: #fff;
        font-weight: bold;
        padding: 4px 8px;
        border-radius: 8px 8px 8px 0;
    }
    &__button-wrap{
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
    }
    &__button{
        display: inline-block;
        width: 70px;
        height: 70px;
        background-color: #fff;
        background-image: url(../../resource/images/icon_cart.png);
        background-size: 30% 30%;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        &--heart{
            background-image: url(../../resource/images/icon_heart.png);
        }
        &:hover{
            background-color: #f0263f;
            transition: .3s;
        }
        &+&{
            margin-left: 25px;
        }
    }
    &__name{
        margin-top: 30px;
        font-size: 18px;
        font-weight: bold;
        &+.rating{
            margin-top: 13px;
        }
    }
    &__value{
        font-size: 18px;
        font-weight: bold;
        margin-top: 13px;
        em{
            color: #d5382c;
        }
    }
}

.title{
    font-size: 36px;
    line-height: 1.23;
    text-align: center;
}

.rating{
    &__item{
        display: inline-block;
        width: 16px;
        height: 16px;
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRCC4HG_mtnuDvNVzGq0-qXGadcJ00PJ_iCTg&usqp=CAU);
        background-size: auto 100%;
        background-position: 0 0;
        background-repeat: no-repeat;
    }
}

.info-boxes{
    &__item{
        width: 50%;
        display: flex !important;
        & > div{
            width: 50%;
            img{
                width: 100%;
                height: auto;
            }
        }
    }
    &__right{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        font-size: 36px;
        font-weight: bold;
        line-height: 1.23;
        padding-left: 60px;
    }
    .button{
        margin-top: 45px;
    }
    .slick{
        &-next{
            background: url(../../resource/images/icon_arrow-right.png) no-repeat 0 0 /100% 100%;
            right: 40px;
            &::before{
                display: none;
            }
        }
    }
}


//tablet
@media screen and (max-width:1080px) {
    .content{
        padding: 75px 0;
    }
    section {
        &+&{
            margin-top: 100px;
        }
    }
    .gallery{
        margin-top: -10px;
        &__item{
            width: calc(50% - 10px);
            margin-top: 10px;
            &:not(:first-of-type){
                margin-left: 0;
            }
            &:nth-of-type(even){
                margin-left: auto;
            }
        }
    }
    .info-boxes{
        &__right{
            font-size :24px;
            padding-left: 30px;
        }
        .button{
            margin-top: 15px;
        }
    }
    .product-card{
        &__button{
            width: 40px;
            height: 40px;
        }
    }
    .pc-only{
        display: none;
    }
    .mobile-only{
        display: block;
    }

}



