
.tab{
    text-align: center;
    font-size: 14px;
    margin-top: 30px;
    li{
        display: inline-block;
        button{
            display: inline-block;
            padding: 5px 15px;
            &.active{
                position: relative;
                &::before{
                    content: "";
                    position: absolute;
                    left: 50%;
                    bottom: 0;
                    transform: translateX(-50%);
                    width: calc(100% - 30px);
                    height: 1px;
                    background-color: #000;
                }
            }
        }
    }
    &__panel{
        display: none;
        &.active{
            display: block;
        }
    }
}
